services:
  mysql-master:
    image: mysql:8.0.36  # 关键！用这个版本
    container_name: mysql-master-ci
    environment:
      MYSQL_ROOT_PASSWORD: 123456
    ports:
      - "3433:3306"
    command: >
      --default-authentication-plugin=mysql_native_password
      --server-id=1
      --log-bin=mysql-bin
      --binlog-format=ROW
      --sync-binlog=1
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --innodb-buffer-pool-size=128M
      --innodb-log-file-size=48M
      --max-connections=100
      --performance-schema=OFF
    healthcheck:
      test: ["CMD", "mysql", "-uroot", "-p123456", "--protocol=tcp", "-e", "SELECT 1"]
      interval: 5s
      timeout: 5s
      retries: 30
      start_period: 30s
    restart: unless-stopped

  mysql-slaver:
    image: mysql:8.0.36
    container_name: mysql-slaver-ci
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: sql_monitor
      MYSQL_USER: Jesse_EC233
      MYSQL_PASSWORD: 3191955858_EC
    ports:
      - "3307:3306"
    command: >
      --default-authentication-plugin=mysql_native_password
      --server-id=2
      --relay-log=relay-log
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --innodb-buffer-pool-size=128M
      --innodb-log-file-size=48M
      --max-connections=100
      --performance-schema=OFF
    healthcheck:
      test: ["CMD", "mysql", "-uJesse_EC233", "-p3191955858_EC", "--protocol=tcp", "-e", "SELECT 1"]
      interval: 5s
      timeout: 5s
      retries: 30
      start_period: 40s
    depends_on:
      mysql-master:
        condition: service_healthy
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: redis-ci
    command:
      - redis-server
      - --requirepass 1234567890
      - --appendonly yes
    ports:
      - "6380:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli", "-a", "1234567890", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq-ci
    environment:
      RABBITMQ_DEFAULT_USER: jesse
      RABBITMQ_DEFAULT_PASS: 1234567890
    ports:
      - "5673:5672"
      - "15673:15672"
    healthcheck:
      test: ["CMD-SHELL", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 10s
      retries: 10