server:
  address: 0.0.0.0
  port: 19198
  shutdown: graceful

# 测试环境不需要 SSL
#  ssl:
#    enabled: true
#    key-store: classpath:sslkey.p12
#    key-store-password: 1234567890
#    keyStoreType: PKCS12
#    keyAlias: sshkeys

spring:
  application:
  name: sqlmonitor-db1
  main:
    web-application-type: reactive
  lifecycle:
    timeout-per-shutdown-phase: 30s

app:
  r2dbc:
    master:                 # 被监测指标的数据库服务器
      host: 172.16.100.200
      port: 3433
      user: root
      password: 123456
      default-schema:
    slaver:                 # 查询监测数据的数据库服务器
      host: localhost
      port: 3306
      user: Jesse_EC233
      password: 3191955858_EC
      default-schema: sql_monitor

  rabbitmq:
    host: localhost
    port: 5672
    user: jesse
    password: 1234567890
    virtualhost: /
    connect-timeout: 30000

  operation-staff:
    email: zhj3191955858@gmail.com

  # 是否启用本邮件发送器依赖？（默认启用）
  reactive-email-sender:
    enabled: true
    smtp-host: smtp.qq.com # 提供 SMTP 服务的运营商主机名
    smtp-port: 465         # SMTP 端口号
    backoff:
      max-attempt-times: 5
      start-backoff-interval: 2 # 指数退避起始时间间隔（单位：秒，默认为 1）
      max-backoff-interval: 5   # 指数退避封顶时间间隔（单位：秒，默认为 10）
    max-attachment-size: 8
    sender-email: 3191955858@qq.com # 发件人邮箱地址
    session-props:
      mail:
        smtp:
          ssl:
            enable: true
          auth: true
          connectiontimeout: 5000

  redis:
    host: localhost
    port: 6379
    password: 1234567890

  redis-cache:
    # 所有指标缓存数据的前缀命名空间。
    key-prefix: "sql-monitor-cache-test:"
    # 缓存的有效期（为前端的最短查询间隔 - 500 毫秒的冗余）
    ttl: 2500ms

  redis-lock:
    enable: true
    schedulers:
      # 最大线程数（默认 100 线程）
      max-threads: 100
      # 任务队列容量（默认 1000）
      task-queue-capacity: 1024
      # 调度线程名（默认 redis-lock）
      thread-name: redis-lock
      # 空闲线程存活时间（默认 60 秒）
      ttl-seconds: 60
      # 是否开启守护线程？（对于分布式锁操作来说是必须的）
      daemon: true
    distributed-lock:
      key-prefix: sql-monitor-lock
    fair-semaphore:
      key-prefix: sql-monitor-semaphore

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    deep-linking: true
    display-request-duration: true
  webjars:
    prefix: /webjars
  cache:
    disabled: true
  packages-to-scan: com.jesse.sqlmonitor
  model-converters:
    jackson:
      enabled: true
  model-and-view-allowed: true
  default-produces-media-type: application/json

logging:
  level:
    org:
      springdoc: DEBUG
      springframework:
        data:
          r2dbc: DEBUG
        web:
          reactive: WARN