server:
  address: 0.0.0.0
  port: 65531
  shutdown: graceful

#  ssl:
#    enabled: true
#    key-store: classpath:sslkey.p12
#    key-store-password: 1234567890
#    keyStoreType: PKCS12
#    keyAlias: sshkeys

spring:
  application:
    name: indicator-receiver
  main:
    web-application-type: reactive
  lifecycle:
    timeout-per-shutdown-phase: 30s

app:
  r2dbc:
    slaver:                 # 记录监测数据的数据库服务器
      host: localhost
      port: 3306
      user: Jesse_EC233
      password: 3191955858_EC
      default-schema: sql_monitor

  rabbitmq:
    host: localhost
    port: 5672
    user: jesse
    password: 1234567890
    virtualhost: /
    connect-timeout: 30000

  indicator-receiver: # 指标接收器相关属性
    prefetch-count: 128       # 单个消费者最多暂存的未确认消息数量
    buffer-size: 64           # 指标缓冲区大小
    buffer-timeout: 60s       # 若超过这个时间段直接刷新缓冲区
    batch-insert-timeout: 15s # 批量插入操作时间限制
    # 取消订阅前的延迟时间
    #（有 CountDownLatch 在，设置一个很长的时间只是一个兜底操作）
    shutdown-delay: 10m

logging:
  file:
    path: ./indicator_receiver_logs

springdoc:
  api-docs:
    path: /indicator-receiver-api-docs
  swagger-ui:
    path: /indicator-receiver-api-docs.html
    enabled: true
    deep-linking: true
    display-request-duration: true
  webjars:
    prefix: /webjars
  cache:
    disabled: true
  packages-to-scan: com.jesse.sqlmonitor
  model-converters:
    jackson:
      enabled: true
  model-and-view-allowed: true
  default-produces-media-type: application/json